<!DOCTYPE html>
<html lang="zh-cn">
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2插件</title>

</head>

<body>
<div id="app">

    <!--     v-model   双向绑定,定义一个变量,model-->
    <input type="text" v-model="name">
    <!--        {{双括号取值}} 表达式-->
    <p>Hello{{name}}</p>
    <h3>v-html:</h3>
    <p v-html="name">v-html:</p>
    <h3>v-text:,纯文本输出</h3>
    <p v-text="name">v-text:</p>
    <!--    <img v-bind:src="imgUrl">-->
    <h3>文本变成标签 加:,强制绑定</h3>
    <img src="imgUrl"><br>
    <!--        属性值变成标签 加:-->
    <img v-bind:src="imgUrl"><br>
    <img :src="imgUrl"><br>
    <h2>表达式就是js变量,转换大写</h2>
    <p>Hello{{name.toLocaleUpperCase()}}</p>

    <h2>3.绑定监听</h2>
    <!--        无参-->
    <button v-on:click="test">无参监听</button>
    <!--        强制绑定+监听 用@-->
    <button @click="test">无参监听</button>

    <button @click="test2('jim')">有参监听监听</button>

    <h2>4.计算属性和监视</h2>

    姓:<input type="text" placeholder="firstName" v-model="firstName"><br>
    名:<input type="text" placeholder="lastName" v-model="lastName"><br>
    姓名1(单向)<input type="text" placeholder="fullName" v-model="fullName1"><br>
    姓名2(单向)<input type="text" placeholder="fullName2" v-model="fullName2"><br>
    姓名3(双向)<input type="text" placeholder="fullName3" v-model="fullName3"><br>

    <h2>5.绑定class和style</h2>

    <!--   :class 是vue的,class固定的-->
    <p :class="a" class="cClass">绑定classstring</p>

    <button @click="updateClass">更新</button>
    <p :class="{aClass:isA,bClass:isB}" class="cClass">绑定class对象</p>

    <p :class="['aClass','bClass']" class="cClass">绑定class数组</p>
    <p :style="{color:textColor,fontSize:fontSize,backgroundColor:'orange'}">绑定style</p>


    <h2>6.条件渲染</h2>
    <!--    这2个效果类似,区别 show dispay:none-->
    <p v-if="ok">成功</p>
    <p v-else="ok">失败</p>


    <p v-show="show">show</p>
    <p v-show="!show">show失败</p>

    <button @click="updateShow">更新</button>

    <h2>7.遍历</h2>


    <ul>
        <li v-for="(p,index) in persons" :key="index">
            {{index}}
            {{p.name}}
            {{p.age}}
            <button @click="vForDelete(index)">删除</button>
            <button @click="vForUpdate(index,{name: 'tom', age: 12})">更新</button>
        </li>
    </ul>


    <ul>
        <li v-for="(value,key) in persons[1]" :key="key">
            {{key}}:{{value}}
        </li>
    </ul>

    <h2>8.排序,过滤</h2>
    <div id="test">
        <label>
            <input type="text" v-model="searchName">
        </label>
        <ul>
            <li v-for="(p,index) in filterPersons" :key="index">
                {{index}}
                {{p.name}}
                {{p.age}}
            </li>
        </ul>

        <button @click="sortAge(0)">按年龄不排序</button>
        <button @click="sortAge(1)">按年龄升序</button>
        <button @click="sortAge(-1)">按年龄降序</button>

    </div>

    <h2>9.事件处理</h2>
    <h3>绑定监听 @click</h3>
    <button @click="test">@click</button>
    <button @click="test3($event)">@click</button>
    <button @click="test3">@click</button>
    <button @click="test4('abc',$event)">@click</button>

    <h3>事件修饰符</h3>
    <h4>事件穿透 @click.stop</h4>
    <div style="background-color:  orange;height: 200px;padding: 20px" @click="test5">
        <div style="background-color: red;height: 50px;" @click.stop="test6">
            红色是内部
        </div>
        黄色是外部
    </div>
    <h4>默认行为,多个事件 prevent 防止</h4>
    <a href="https://www.baidu.com/" @click.prevent="test7">链接</a>
    <h4>按键修饰符 @keyup.enter</h4>
    <label>
        <input type="text" @keyup.enter="test8">
    </label>

    <h2>10.表单数据自动收集</h2>
    <div>
        <form action="/reg.do" @submit.prevent="testSubmit">
            <span>用户名</span>
            <label>
                <input type="text" v-model="username">
            </label><br>
            <span>密码</span>
            <input type="text" v-model="psw"><br>


            <div>
                <span>性别</span>
                <input id="female" type="radio" value="女" v-model="sex">
                <label for="female"> 女</label>

                <input id="male" type="radio" value="男" v-model="sex">
                <label for="male">男</label>
            </div>
            <br>


            <div>
                <span>爱好</span>
                <input id="hobby0" type="checkbox" value="hobby0" v-model="hobby">
                <label for="hobby0">hobby0</label>

                <input id="hobby1" type="checkbox" value="hobby1" v-model="hobby">
                <label for="hobby1">hobby1</label>

                <input id="hobby2" type="checkbox" value="hobby2" v-model="hobby">
                <label for="hobby2">hobby2</label>
            </div>

            <select v-model="cityId">
                <option value="">未选择</option>
                <option :value="city.id" v-for="(city,index) in cityList">{{index}}-{{city.name}}</option>
            </select><br>

            <span>描述</span>
            <label>
                <textarea v-model="des"></textarea>
            </label><br>
            <input type="submit" value="注册"><br>
        </form>
    </div>

    <h2>11.生命周期</h2>
    <h3>初始化</h3>
    <h3>更新</h3>
    <h3>消失</h3>
    <button @click="destroyTime">生命周期按钮-销毁</button>
    <p v-show="isShow">间断显示隐藏</p>
    <h2>12.动画,显示影藏效果</h2>
    <button @click="transition1">开始动画</button>
    <br>
    <transition name="transitionName1">
        <p v-show="isAnimationShow">显示隐藏动画</p>
    </transition>
    <br>
</div>


</body>

<script>

    // MVVM ,这里就是vm
    const vm = new Vue({
        el: '#app',
        //data里面都是自定义属性
        data: {


        },
        //函数配置
        methods: {

        },
    })


</script>

</html>